.place__image {
  max-width: 460px;
  height: auto;
  margin-right: 40px;
}

@media (max-width: 1024px) {
  .place__image {
    align-self: flex-start;
    margin-right: 32px;
    max-width: 440px;
  }
}

@media (max-width: 880px) {
  .place__image {
    max-width: 420px;
    height: auto;
    margin-right: 52px;
  }
}

@media (max-width: 768px) {
  .place__image {
    max-width: 340px;
    height: auto;
    margin-right: 28px;
  }
}

@media (max-width: 700px) {
  .place__image {
    margin-right: 0;
    margin-bottom: 32px;
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 320px) {
  .place__image {
    margin-bottom: 32px;
  }
}