.cover__title {
  z-index: 2;

  max-width: 565px;
  margin: 0 auto;
  margin-bottom: 32px;

  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}

@media (max-width: 600px) {
  .cover__title {
    max-width: 395px;

    font-size: 58px;
  }
}

@media (max-width: 500px) {
  .cover__title {
    max-width: 360px;

    font-size: 46px;
  }
}

@media (max-width: 320px) {
  .cover__title {
    max-width: 78%;
    margin-bottom: 16px;

    font-size: 32px;
    line-height: 1.09;
  }
}