.page__container {
  max-width: 1280px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 48px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .page__container {
    max-width: 1024px;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .page__container {
    max-width: 768px;
  }
}

@media (max-width: 320px) {
  .page__container {
    max-width: 320px;
  }
}
