.content__lead {
  margin: 0 auto;
  margin-bottom: 92px;
  max-width: 984px;
}

@media (max-width: 1024px) {
  .content__lead {
    padding: 0 48px;
  }
}

@media (max-width: 768px) {
  .content__lead {
    padding: 0;
    margin-bottom: 88px;
  }
}

@media (max-width: 700px) {
  .content__lead {
    padding: 0;
  }
}

@media (max-width: 320px) {
  .lead__content {
    margin-bottom: 64px;
  }
}

